.product {
    background-color: rgba(255, 255, 255, 0.801);
    padding: 15px;
    margin: 10px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 280px;
    min-height: 450px;
    font-size: 14px;
}

.desc {
    width: 800px;
    margin: 0px;
}

.product img:not(.vegetarian) {
    height: 240px;
    border-radius: 20px;
    width: 240px;
    margin: 0px 20px;
}

.p-informacion {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}